body {
    background-color: #eee8aa;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #1e90ff;
    height: 100%;
}

h1 {
    font-size: 28px;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: chocolate;
    font-size: 12px;
    color: peachpuff;
    text-align: center;
    padding-top: 5px;
    height: 60px;
    width: 100%;
}

.navigation {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 160px;
    min-height: 40px;
    border: #6495ed 2px solid;
    border-radius: 5px;
    background-color: lightblue;
    text-align: center;
    font-size: 16px;
    color: #6495ed;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    background-color: #87cefa;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    font-style: normal;
    color: #1e90ff;
}

.team-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    width: 100%;
}

.choose-team img {
    width: 200px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.choose-team {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
}

.choose-team__prev-team img {
    width: 50px;
    height: 80px;
    margin-bottom: 50px;
    margin-right: 10px;
}

.choose-team__next-team img {
    width: 50px;
    height: 80px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.teams {
    border: dotted 2px #000000;
    width: 400px;
}

.home-team {
    margin-left: 30px;
}

.away-team {
    margin-right: 30px;
}

.teams a {
    text-decoration: none;
    color: #1e90ff;
}

.team__team-name {
    background-color: #add8e6;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.team__competition {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: solid 2px #000000;
    padding: 10px;
    background-color: #dcdcdc;
}

.separator {
    height: 380px;
    width: 100px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    background-color: #708090;
    margin: auto;
    display: inline-block;
}

.versus {
    vertical-align: middle;
    margin-top: 150px;
}

.team__stats-summary {
    padding: 10px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #000000;
}

.team-card-stats {
    text-align: center;
    margin:auto;
}

.team-card-stats__key {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 2px;
}

.team-card-stats__value {
    font-weight: 700;
    font-size: 16px;
}